*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
}
* ul{
    margin-bottom: 0;
}
body{
    background-color: #F7F8F9;
    font-family: PT Root UI;
    font-size: 14px;
    font-weight: 400;
}
/* header sections style start  */
header{
        padding: 8px 0;
}
.headerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerTop nav ul{
    padding-left: 0;
}
.headerTop nav{
    position: relative;
    flex: 0 0 46.6%;
}
.headerTop nav .fullMenu{
    display: block;
    padding: 20px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: -10%;
    border-radius: 5px;
    background: rgba(238, 238, 54, .6);
}
.headerTop nav ul.mainList{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.headerTop nav ul li{
    margin-left: 15px;
    list-style: none;
}
.headerTop nav .mainList .miniMenu{
    position: relative;
}
.headerTop nav .mainList .miniMenu:hover::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background: #EEEE36;
    transform: rotate(45deg);
    z-index: -1;
}
.headerTop nav ul li a{
    transition: all .3s ease;
    padding: 5px 3px;
    position: relative;
    color: #15191C;
    text-decoration: none;
    display: inline-block;
    font-family: PT Root UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
.headerTop nav ul li a:hover{
    font-weight: 500;
    background-color:#EEEE36;
    border-radius: 5px;
}
.headerTop nav ul li.address{
    margin-right: 15px;
}
.headerTop nav ul li.address a{
    display: flex;
    align-items: center;
}
.headerTop nav ul li.address a:hover{
    font-weight: 500;
}
.headerTop nav ul li.address a span{
    font-size: 20px;
    color: rgba(#4d4d4d, .4);
    margin-right: 5px;
}
.headerTop nav ul li.miniMenu a{
    display: flex;
    align-items: center;
}
.headerTop .socialNetworks{
    flex: 0 0 19%;
    margin-left: 31px;
}
.headerTop .socialNetworks ul{
    display: flex;
    align-items: center;
}
.headerTop .socialNetworks ul li{
    list-style: none;
    margin-left: 5px;
}
.headerTop .socialNetworks ul li a{
    font-size: 20px;
}
.headerTop .socialNetworks ul li:last-child a{
    padding: 5px 3px;
    border-radius: 5px;
    display: inline;
    text-decoration: none;
    color: #15191C;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
}
.headerTop .socialNetworks ul li:last-child a span{
    margin-right: 10px;
    color: #9A9C9E;
}
.headerTop .socialNetworks ul li:last-child a:hover{
    background-color:#EEEE36;
}
.headerTop .email{
    flex: 0 0 15%;
}
.headerTop .email a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #15191C;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    padding: 5px 3px;
    border-radius: 5px;
}
.headerTop .email a span{
    margin-right: 10px;
    color: #9A9C9E;
}
.headerTop .email a:hover{
    font-weight: 700;
    background-color:#EEEE36;
}
.headerTop .loginRegistration{
    flex: 0 0 13%;
}
.headerTop .loginRegistration ul{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.headerTop .loginRegistration ul li{
    list-style: none;
}
.headerTop .loginRegistration ul li a span{
    margin-right: 5px;
    color: #747883;
}
.headerTop .loginRegistration ul span:last-child{
    color: #15191C;
    font-size: 14px;
    font-weight: 5;
}
.headerTop .loginRegistration ul li a{
    display: flex;
    align-items:center;
    text-decoration: none;
    font-family: PT Root UI;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    padding: 5px 3px;
    border-radius: 5px;
    color:#15191C;
}
.headerTop .loginRegistration ul li a:hover{
    background-color:#EEEE36;
    font-weight: 600;
}

/* header sections style start  */